
.box_stage_ejemplogramatic {
	display               : grid;
	grid-column-gap       : 20px;
	grid-template-columns : repeat(4, 1fr);
}
.ejemplogramatica_item {
	ul {
		li {
			padding : 10px 0;
			.circle {
				position      : relative;
				top           : 4px;
				margin-right  : 6px;
				padding       : 2px;
				color         : #fff;
				border-radius : 50%;
				box-shadow    : 0 7px 10px -4px rgba(39,57,113,.4);
			}
			&.incorrect {
				ion-icon {
					@extend .circle;
					background-color : $red_dark;
				}
			}
			&.correct {
				ion-icon {
					@extend .circle;
					background-color : $green;
				}
			}
		}
	}
}