
.box_stage_ejemplogramatic {
	display               : grid;
	grid-column-gap       : 20px;
	grid-template-columns : repeat(4, 1fr);
}
.ejemplogramatica_item {
	ul {
		margin-bottom : 0;
		li {
			position              : relative;
			display               : grid;
			padding               : 30px 0;
			grid-template-columns : 10% 90% ;
			&:last-child {
				padding-bottom : 0;
				&:after {
					content    : '';
					position   : absolute;
					display    : block;
					top        : 1px;
					right      : 0;
					left       : 0;
					width      : 20%;
					margin     : auto;
					border-top : 1px solid $gray_light2;
				}
			}
			.circle {
				margin-right  : 10px;
				padding       : 2px;
				color         : #fff;
				border-radius : 50%;
				box-shadow    : 0 7px 10px -4px rgba(39,57,113,.4);
				
			}
			p {
				margin-bottom : 0;
			}
			&.incorrect {
				ion-icon {
					@extend .circle;
					background-color : $red_dark;
				}
			}
			&.correct {
				ion-icon {
					@extend .circle;
					background-color : $green;
				}
			}
		}
	}
}