
/*==================== GENERAL ====================*/
body {
	font-family : 'Avenir LT Std';
	font-weight : 400;
	color       : $gray_dark;
}
a {
	&:hover {
		text-decoration : none !important;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-weight : 700;
	color       : $blue_dark;
}
.space-box {
	padding : 20px 0;
}
/*==================== TITLE HEADING IN HOME ====================*/
.section-title {
	position : relative;
	margin   : 30px 0;
	h6 {
		display          : inline-block;
		z-index          : 2;
		margin-bottom    : 18px;
		padding-right    : 20px;
		background-color : #fff;
		font-size        : 13px;
		font-weight      : 400;
		color            : $gray_light;
	}
	h2 {
		vertical-align : middle;
		overflow       : hidden;
		margin-bottom  : 0;
		font-weight    : 900;
		letter-spacing : 1px;
		text-transform : uppercase;
		&:after {
			content  : '';
			position : absolute;
			display  : inline-block;
			top      : 20%;
			left     : 0;
			z-index  : -1;
			width    : 100%;
			border   : 0.5px solid  $blue_light;
		}
	}
}