
/*==================== COLORS ====================*/
$red_light  : #E45043;
$red_dark   : #CC3D31;
$cream      : #FDEDE8;
$gray_light : #c0c0c0;
$gray_light2 : #eaeaea;
$gray_dark  : #50575d;
$blue_light : #3c83ff;
$blue_dark  : #273971;
$green      : #2ecc71;